In [1]:
import os, sys, io, random, subprocess
import string
import numpy as np
import pandas as pd

from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
from Bio.Align import MultipleSeqAlignment
from Bio import AlignIO, SeqIO

sys.path.append('/home/tortoise/pybioviz/')
from pybioviz import viewers, utils

In [33]:
featurekeys = ['ID', 'Name', 'del_len', 'ins_len', 'query_coord', 'start', 'end']

def features_to_dataframe(features, cds=False):
    """Get features from a biopython seq record object into a dataframe
    Args:
        features: bio seqfeatures
       returns: a dataframe with a row for each cds/entry.
      """

    #preprocess features
    allfeat = []
    for (item, f) in enumerate(features):
        x = f.__dict__
        q = f.qualifiers
        #print(q)
        x.update(q)
        d = {}
        d['start'] = f.location.start
        d['end'] = f.location.end
        #d['strand'] = f.location.strand
        for i in featurekeys:
            if i in x:
                if type(x[i]) is list:
                    d[i] = x[i][0]
                else:
                    d[i] = x[i]
        allfeat.append(d)

    df = pd.DataFrame(allfeat,columns=featurekeys)

    return df

feats = utils.gff_to_features('ref_genomes/Nucdiff_MTB_MB/results/MTB_MB_ref_struct.gff')
feat_df = features_to_dataframe(feats)
#print(feat_df)
deletions = feat_df[feat_df.Name=='deletion']
deletions[:5]

       ID      Name del_len ins_len query_coord   start     end
5    SV_6  deletion    1902     NaN      264979  264754  266656
7    SV_7  deletion     375     NaN      332982  334658  335033
21  SV_22  deletion      21     NaN      838696  836872  836893
28  SV_29  deletion    1355     NaN      891209  889020  890375
30  SV_31  deletion     111     NaN      928985  928092  928203

In [26]:
RD = pd.read_csv('RD.csv', sep='\t')
print(RD)
new=[]
for i,r in RD.iterrows():
    if r.Start>3.0e6 and r.Start<4e6:
        new.append(r)        
new = pd.DataFrame(new)

    No.   RD targets    Start     Stop  Size (bp)       Rv in RD
0     1          RD9  2330000  2332100       2029  Rv2073c-2075c
1     2        RD711  1501713  1503655       1943    Rv1333-1336
2     3        RD702   216795   218516       1722         Rv0186
3     4          RD4  1696200  1708800      12732  Rv1506c-1516c
4     5       RD1bcg  4349600  4359000       9400   Rv3871-3879c
5     6       RD1mic  4340400  4353500      13100    Rv3864-3871
6     7      RD2seal  2221000  2222900       1901   Rv1978-1979c
7     8       RD2bcg  2221100  2231800      10701    Rv1978-1988
8     9          RD7  2208000  2220500      12719    Rv1964-1977
9    10          RD8  4056800  4062600       5894    Rv3617-3623
10   11         RD10   264700   266600       1902    Rv0221-0223
11   12      RD12bov  3484700  3487500       2801    Rv3117-3121
12   13      RD12can  3479400  3491800      12401   Rv3111-3126c
13   14        RD105    79567    83034       3468    Rv0071-0074
14   15        RD239  4092077  4092919        843         Rv3651
15   16        RD750  1710767  1711556        790    Rv1519-1520
16   17        RD142  1332182  1335033       2852    Rv1189-1192
17   18        RD150  1896862  1899349       2488   Rv1671-1674c
18   19        RD181  2535429  2536140        712   Rv2262c-2263
19   20        RD207  3120521  3127920       7400  Rv2814c-2820c
20   21        RD115   453364   455971       2608   Rv0376c-0378
21   22        RD122   669793   670964       1172         Rv0576
22   23        RD174  2237049  2240699       3651   Rv1992c-1997
23   24        RD182  2545194  2551674       6481    Rv2270-2280
24   25        RD183  2585853  2588770       2918  Rv2313c-2315c
25   26        RD193  2704306  2704807        502   Rv2406c-2407
26   27        RD219  3448504  3451396       2893    Rv3083-3085
27   28        RD724  2265112  2266239       1128    Rv2018-2019
28   29        RD726  3904958  3906706       1749  Rv3485c-3487c
29   30        RD761  1502787  1503881       1095    Rv1334-1336
30   31  7bp pks15/1  3296380  3296381          7  Rv2946c-2947c

In [15]:
new

    No.   RD targets    Start     Stop  Size (bp)       Rv in RD
11   12      RD12bov  3484700  3487500       2801    Rv3117-3121
12   13      RD12can  3479400  3491800      12401   Rv3111-3126c
19   20        RD207  3120521  3127920       7400  Rv2814c-2820c
26   27        RD219  3448504  3451396       2893    Rv3083-3085
28   29        RD726  3904958  3906706       1749  Rv3485c-3487c
30   31  7bp pks15/1  3296380  3296381          7  Rv2946c-2947c

In [67]:
print(deletions)
print(RD)

         ID      Name del_len ins_len query_coord    start      end
5      SV_6  deletion    1902     NaN      264979   264754   266656
7      SV_7  deletion     375     NaN      332982   334658   335033
21    SV_22  deletion      21     NaN      838696   836872   836893
28    SV_29  deletion    1355     NaN      891209   889020   890375
30    SV_31  deletion     111     NaN      928985   928092   928203
37    SV_38  deletion      81     NaN     1306938  1305537  1305618
39    SV_40  deletion    3000     NaN     1404209  1402937  1405937
45    SV_46  deletion    1353     NaN     1544395  1541951  1543304
47    SV_48  deletion     336     NaN     1573590  1572502  1572838
57    SV_57  deletion     806     NaN     1758654  1768073  1768879
65    SV_65  deletion     399     NaN     1992301  1997053  1997452
66    SV_66  deletion      26     NaN     2069394  2074521  2074547
68    SV_68  deletion     123     NaN     2083613  2088852  2088975
82    SV_81  deletion    2028     NaN     2318399  2330073  2332101
85    SV_84  deletion    1354     NaN     2351666  2365414  2366768
90    SV_89  deletion      23     NaN     2408540  2423607  2423630
92    SV_91  deletion    1355     NaN     2414919  2430116  2431471
96    SV_95  deletion    1353     NaN     2533378  2550013  2551366
98    SV_97  deletion    8961     NaN     2608077  2626069  2635030
101  SV_100  deletion     560     NaN     2609414  2636369  2636929
103  SV_102  deletion    1353     NaN     2757187  2784616  2785969
119  SV_117  deletion      54     NaN     3339263  3378236  3378290
121  SV_119  deletion    2774     NaN     3445699  3484740  3487514
127  SV_125  deletion    1355     NaN     3512891  3551229  3552584
129  SV_127  deletion    1355     NaN     3513016  3552712  3554067
135  SV_133  deletion    2876     NaN     3694422  3732759  3735635
138  SV_136  deletion     187     NaN     3697150  3739145  3739332
143  SV_141  deletion    1355     NaN     3753111  3795057  3796412
145  SV_143  deletion      18     NaN     3758852  3802156  3802174
153  SV_151  deletion    3694     NaN     3799807  3842766  3846460
156  SV_154  deletion    1358     NaN     3842886  3890777  3892135
157  SV_155  deletion     711     NaN     3847825  3897074  3897785
159  SV_157  deletion      58     NaN     3877755  3927719  3927777
162  SV_160  deletion     167     NaN     3882139  3932157  3932324
168  SV_166  deletion     684     NaN     3884988  3935654  3936338
172  SV_170  deletion    1234     NaN     3896831  3947687  3948921
175  SV_173  deletion     252     NaN     3897178  3949291  3949543
177  SV_175  deletion    5893     NaN     4004383  4056840  4062733
185  SV_183  deletion    1166     NaN     4131466  4189594  4190760
187  SV_185  deletion    2403     NaN     4311799  4371022  4373425
    No.   RD targets    Start     Stop  Size (bp)       Rv in RD
0     1          RD9  2330000  2332100       2029  Rv2073c-2075c
1     2        RD711  1501713  1503655       1943    Rv1333-1336
2     3        RD702   216795   218516       1722         Rv0186
3     4          RD4  1696200  1708800      12732  Rv1506c-1516c
4     5       RD1bcg  4349600  4359000       9400   Rv3871-3879c
5     6       RD1mic  4340400  4353500      13100    Rv3864-3871
6     7      RD2seal  2221000  2222900       1901   Rv1978-1979c
7     8       RD2bcg  2221100  2231800      10701    Rv1978-1988
8     9          RD7  2208000  2220500      12719    Rv1964-1977
9    10          RD8  4056800  4062600       5894    Rv3617-3623
10   11         RD10   264700   266600       1902    Rv0221-0223
11   12      RD12bov  3484700  3487500       2801    Rv3117-3121
12   13      RD12can  3479400  3491800      12401   Rv3111-3126c
13   14        RD105    79567    83034       3468    Rv0071-0074
14   15        RD239  4092077  4092919        843         Rv3651
15   16        RD750  1710767  1711556        790    Rv1519-1520
16   17        RD142  1332182  1335033       2852    Rv1189-1192
17   18        RD150  1896862  1899349       2488   Rv1671-1674c
18   19        RD181  2535429  2536140        712   Rv2262c-2263
19   20        RD207  3120521  3127920       7400  Rv2814c-2820c
20   21        RD115   453364   455971       2608   Rv0376c-0378
21   22        RD122   669793   670964       1172         Rv0576
22   23        RD174  2237049  2240699       3651   Rv1992c-1997
23   24        RD182  2545194  2551674       6481    Rv2270-2280
24   25        RD183  2585853  2588770       2918  Rv2313c-2315c
25   26        RD193  2704306  2704807        502   Rv2406c-2407
26   27        RD219  3448504  3451396       2893    Rv3083-3085
27   28        RD724  2265112  2266239       1128    Rv2018-2019
28   29        RD726  3904958  3906706       1749  Rv3485c-3487c
29   30        RD761  1502787  1503881       1095    Rv1334-1336
30   31  7bp pks15/1  3296380  3296381          7  Rv2946c-2947c

In [75]:
del3e = []
for i,r in RD.iterrows():    
    x = deletions[((deletions.start>r.Start) & (deletions.start<r.Stop)) |
              ((deletions.end>r.Start) & (deletions.end<r.Stop)) |
              ((deletions.start<r.Start) & (deletions.end>r.Stop))]
    del3e.append(x)
del3e = pd.concat(del3e)
print(del3e)

         ID      Name del_len ins_len query_coord    start      end
82    SV_81  deletion    2028     NaN     2318399  2330073  2332101
177  SV_175  deletion    5893     NaN     4004383  4056840  4062733
5      SV_6  deletion    1902     NaN      264979   264754   266656
121  SV_119  deletion    2774     NaN     3445699  3484740  3487514
121  SV_119  deletion    2774     NaN     3445699  3484740  3487514
96    SV_95  deletion    1353     NaN     2533378  2550013  2551366

ValueError: Can only compare identically-labeled Series objects