## M. orygis/MTB/Mbovis differences

This notebook uses nucdiff ..

In [1]:
import os, sys, io, random, subprocess
import string
import numpy as np
import pandas as pd
pd.set_option('display.width',150)
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
from Bio.Align import MultipleSeqAlignment
from Bio import AlignIO, SeqIO

sys.path.append('/home/tortoise/pybioviz/')
from pybioviz import viewers, utils

In [2]:
def align_nucmer(file1, file2):
    cmd='nucmer --maxgap=500 --mincluster=100 --coords -p nucmer %s %s' %(file1, file2)
    print (cmd)
    subprocess.check_output(cmd,shell=True)
    df = read_nucmer_coords('nucmer.coords')
    return df

def read_nucmer_coords(cfile):
    cols=['S1','E1','S2','E2','LEN 1','LEN 2','IDENT','TAG1','TAG2']
    a=pd.read_csv(cfile,sep='[\s|]+',skiprows=5,names=cols,engine='python')
    a = a.sort_values(by='TAG2',ascending=False)
    return a

In [3]:
nuc=align_nucmer('ref_genomes/mbovis.fna','ref_genomes/MTB_h37rv.fna')

nucmer --maxgap=500 --mincluster=100 --coords -p nucmer ref_genomes/mbovis.fna ref_genomes/MTB_h37rv.fna

In [4]:
ref = 'NC_000962.3'
nuc = nuc.sort_values('S2')
nuc

          S1       E1       S2       E2   LEN 1   LEN 2   IDENT         TAG1         TAG2
0          1   150902        1   150891  150902  150891   99.82  NC_002945.4  NC_000962.3
74   1778289  1779640   103780   105130    1352    1351   97.05  NC_002945.4  NC_000962.3
183  3835659  3837030   105076   103706    1372    1371   97.09  NC_002945.4  NC_000962.3
1     140094   150914   140054   150903   10821   10850   99.66  NC_002945.4  NC_000962.3
2     151082   264979   150891   264754  113898  113864   99.91  NC_002945.4  NC_000962.3
3     264980   332982   266657   334658   68003   68002   99.93  NC_002945.4  NC_000962.3
26    842872   843855   333649   332699     984     951   87.09  NC_002945.4  NC_000962.3
25    842420   842750   334105   333766     331     340   75.86  NC_002945.4  NC_000962.3
6     335739   336706   334635   335602     968     968   99.90  NC_002945.4  NC_000962.3
20    841408   841944   335165   334635     537     531   79.89  NC_002945.4  NC_000962.3
7     336693   363810   335655   362808   27118   27154   99.71  NC_002945.4  NC_000962.3
17    840352   841294   336275   335273     943    1003   76.57  NC_002945.4  NC_000962.3
24    842317   842467   337142   337004     151     139   78.15  NC_002945.4  NC_000962.3
23    841554   842127   337902   337329     574     574   78.29  NC_002945.4  NC_000962.3
8     363842   570941   362795   569922  207100  207128   99.92  NC_002945.4  NC_000962.3
9     570840   578459   569877   577496    7620    7620   99.95  NC_002945.4  NC_000962.3
10    578307   581835   577286   580814    3529    3529  100.00  NC_002945.4  NC_000962.3
11    581752   624447   580577   623297   42696   42721   99.90  NC_002945.4  NC_000962.3
12    624515   743870   623281   742634  119356  119354   99.92  NC_002945.4  NC_000962.3
125  3061830  3062971   702728   701582    1142    1147   81.94  NC_002945.4  NC_000962.3
14    744404   804268   742635   802500   59865   59866   99.97  NC_002945.4  NC_000962.3
15    804250   839700   802428   837975   35451   35548   99.61  NC_002945.4  NC_000962.3
27    844210   844521   832045   832356     312     312   96.47  NC_002945.4  NC_000962.3
16    839765   841038   837899   839112    1274    1214   95.13  NC_002945.4  NC_000962.3
19    841018   841419   838939   839325     402     387   88.59  NC_002945.4  NC_000962.3
22    841469   891209   839270   889020   49741   49751   99.92  NC_002945.4  NC_000962.3
5     334787   336182   840739   839305    1396    1435   78.70  NC_002945.4  NC_000962.3
4     331024   331935   841665   840739     912     927   88.67  NC_002945.4  NC_000962.3
138  3081416  3082770   890375   889021    1355    1355  100.00  NC_002945.4  NC_000962.3
28    891206   927917   890376   927087   36712   36712   99.87  NC_002945.4  NC_000962.3
..       ...      ...      ...      ...     ...     ...     ...          ...          ...
192  3882139  3882635  3932325  3932821     497     497   96.99  NC_002945.4  NC_000962.3
193  3882712  3884132  3932745  3934165    1421    1421   97.96  NC_002945.4  NC_000962.3
194  3883359  3884745  3933995  3935411    1387    1417   96.89  NC_002945.4  NC_000962.3
195  3884019  3884745  3935300  3936026     727     727   93.29  NC_002945.4  NC_000962.3
196  3884019  3884525  3935915  3936415     507     501   87.24  NC_002945.4  NC_000962.3
198  3885045  3885092  3936314  3936361      48      48   89.58  NC_002945.4  NC_000962.3
197  3884989  3890623  3936339  3941965    5635    5627   99.80  NC_002945.4  NC_000962.3
199  3890220  3892172  3941225  3943169    1953    1945   99.13  NC_002945.4  NC_000962.3
200  3892281  3896831  3943179  3947687    4551    4509   98.13  NC_002945.4  NC_000962.3
191  3880962  3882170  3945778  3946977    1209    1200   98.01  NC_002945.4  NC_000962.3
201  3896809  3897271  3947038  3947491     463     454   97.41  NC_002945.4  NC_000962.3
202  3896809  3897271  3947380  3947842     463     463   98.06  NC_002945.4  NC_000962.3
203  3896827  3897484  3947989  3948655     658     667   97.45  NC_002945.4  NC_000962.3
206  3897586  3897630  3948754  3948798      45      45   93.33  NC_002945.4  NC_000962.3
204  3897150  3897630  3948912  3949401     481     490   95.51  NC_002945.4  NC_000962.3
205  3897179  4001091  3949544  4053438  103913  103895   99.91  NC_002945.4  NC_000962.3
207  4000624  4004383  4053082  4056840    3760    3759   99.79  NC_002945.4  NC_000962.3
39   1161019  1161626  4059984  4060591     608     608   99.34  NC_002945.4  NC_000962.3
88   2025211  2025842  4060591  4059984     632     608   91.31  NC_002945.4  NC_000962.3
55   1341934  1342563  4060591  4059986     630     606   93.49  NC_002945.4  NC_000962.3
208  4004383  4036006  4062734  4094357   31624   31624   99.96  NC_002945.4  NC_000962.3
209  4036122  4097342  4094347  4155582   61221   61236   99.92  NC_002945.4  NC_000962.3
210  4097391  4098839  4155460  4156908    1449    1449   99.79  NC_002945.4  NC_000962.3
211  4098730  4131465  4156858  4189593   32736   32736   99.93  NC_002945.4  NC_000962.3
212  4131467  4281681  4190761  4340997  150215  150237   99.92  NC_002945.4  NC_000962.3
126  3077352  3078156  4216724  4215915     805     810   84.03  NC_002945.4  NC_000962.3
61   1470622  1472061  4254332  4252882    1440    1451   99.24  NC_002945.4  NC_000962.3
173  3711277  3712306  4318341  4319371    1030    1031   99.71  NC_002945.4  NC_000962.3
215  4271706  4311799  4331021  4371022   40094   40002   99.72  NC_002945.4  NC_000962.3
216  4311797  4349904  4373426  4411532   38108   38107   99.88  NC_002945.4  NC_000962.3

[217 rows x 9 columns]

## region of difference detection with nucmer

* align RD fasta sequences to a reference e.g. bovis,orygis, tb genomes
* check coords table (dataframe) for missing and present regions

In [5]:
#nuc=align_nucmer('ref_genomes/mbovis.fna','ref_genomes/RDs_mtb.fna')
nuc=align_nucmer('ref_genomes/MTB_h37rv.fna','ref_genomes/RDs_mtb.fna')

nucmer --maxgap=500 --mincluster=100 --coords -p nucmer ref_genomes/MTB_h37rv.fna ref_genomes/RDs_mtb.fna

In [6]:
recs = list(SeqIO.parse('ref_genomes/RDs_mtb.fna',format='fasta'))
ids = [r.id for r in recs]
print (ids)

['RD9_1', 'RD711_2', 'RD702_3', 'RD4_4', 'RD1bcg_5', 'RD1mic_6', 'RD2seal_7', 'RD2bcg_8', 'RD7_9', 'RD8_10', 'RD10_11', 'RD12bovis_12', 'RD12can_13', 'RD105_14', 'RD239_15', 'RD750_16', 'RD142_17', 'RD150_18', 'RD181_19', 'RD207_20', 'RD115_21', 'RD122_22', 'RD174_23', 'RD182_24', 'RD183_25', 'RD193_26', 'RD219_27', 'RD724_28', 'RD726_29', 'RD761_30', '7bp_pks15.1']

##

In [7]:
#featurekeys = ['ID', 'Name', 'del_len', 'ins_len', 'query_coord', 'start', 'end']
featurekeys = ['ID', 'Name', 'del_len', 'ins_len', 'query_bases', 'ref_bases', 'query_coord', 'start', 'end']

def features_to_dataframe(features, cds=False):
    """Get features from a biopython seq record object into a dataframe
    Args:
        features: bio seqfeatures
       returns: a dataframe with a row for each cds/entry.
      """

    #preprocess features
    allfeat = []
    for (item, f) in enumerate(features):
        x = f.__dict__
        q = f.qualifiers
        #print(q)
        x.update(q)
        d = {}
        d['start'] = f.location.start
        d['end'] = f.location.end
        #d['strand'] = f.location.strand
        for i in featurekeys:
            if i in x:
                if type(x[i]) is list:
                    d[i] = x[i][0]
                else:
                    d[i] = x[i]
        allfeat.append(d)

    df = pd.DataFrame(allfeat,columns=featurekeys)

    return df

#df=features_to_dataframe(feats)
#df[:5]

In [12]:
RD = pd.read_csv('RD2.csv')
new=[]
for i,r in RD.iterrows():
    if r.Start>3.0e6 and r.Start<4e6:
        new.append(r)        
new = pd.DataFrame(new)
new

      Start     Stop RD targets Size (bp)
24  3072633  3077553     S-RD06      4921
25  3290865  3291218     I-RD07       354
26  3439226  3439227       RD12      2775
27  3453376  3454712     I-RD08      1337
28  3481722  3483867     I-RD09      2146
29  3698953  3703034       RvD5      4082
30  3723542  3723543       RD19      3555
31  3829069  3829070        RD6      4926
32  3877283  3877284       RD18       713
33  3913496  3913497       RD20       603
34  3915236  3916387     I-RD10      1152
35  3921785  3922128     I-RD11       344
36  3927720  3928644     S-RD12       925

In [9]:
feats = utils.gff_to_features('ref_genomes/Nucdiff_MTB_MB/results/MTB_MB_ref_struct.gff')

feats = utils.gff_to_features('ref_genomes/Nucdiff_MTB_MB/results/MTB_MB_ref_struct.gff')
feat_structs = features_to_dataframe(feats)
deletions = feat_structs[(feat_structs.Name=='deletion') | (feat_structs.Name=='insertion')]

feats_snps = utils.gff_to_features('ref_genomes/Nucdiff_MTB_MB/results/MTB_MB_ref_snps.gff')
feat_snps = features_to_dataframe(feats_snps)
snps = feat_snps[feat_snps.Name=='substitution']

snpdels = pd.concat([deletions, snps])
#snpdels
deletions

         ID       Name del_len ins_len  query_bases  ref_bases      query_coord    start      end
1      SV_2  insertion     NaN      35          NaN        NaN      71577-71611    71585    71586
3      SV_4  insertion     NaN     167          NaN        NaN    150915-151081   150902   150903
5      SV_6   deletion    1902     NaN          NaN        NaN           264979   264754   266656
6      SV_8  insertion     NaN     752          NaN        NaN    332983-333734   334657   334658
7      SV_7   deletion     375     NaN          NaN        NaN           332982   334658   335033
9     SV_11  insertion     NaN    2218          NaN        NaN    336707-338924   335601   335602
12    SV_13  insertion     NaN      31          NaN        NaN    363811-363841   362807   362808
17    SV_18  insertion     NaN      67          NaN        NaN    624448-624514   623296   623297
19    SV_20  insertion     NaN     533          NaN        NaN    743871-744403   742633   742634
21    SV_22   deletion      21     NaN          NaN        NaN           838696   836872   836893
23    SV_24  insertion     NaN      64          NaN        NaN    839701-839764   837974   837975
26    SV_27  insertion     NaN      49          NaN        NaN    841420-841468   839324   839325
28    SV_29   deletion    1355     NaN          NaN        NaN           891209   889020   890375
30    SV_31   deletion     111     NaN          NaN        NaN           928985   928092   928203
33    SV_34  insertion     NaN     874          NaN        NaN  1191959-1192832  1191481  1191482
35    SV_36  insertion     NaN      32          NaN        NaN  1215057-1215088  1213691  1213692
37    SV_38   deletion      81     NaN          NaN        NaN          1306938  1305537  1305618
39    SV_40   deletion    3000     NaN          NaN        NaN          1404209  1402937  1405937
42    SV_43  insertion     NaN    4291          NaN        NaN  1413213-1417503  1414947  1414948
45    SV_46   deletion    1353     NaN          NaN        NaN          1544395  1541951  1543304
47    SV_48   deletion     336     NaN          NaN        NaN          1573590  1572502  1572838
49    SV_50  insertion     NaN     199          NaN        NaN  1634295-1634493  1633537  1633538
51    SV_52  insertion     NaN     104          NaN        NaN  1637163-1637266  1636168  1636169
55    SV_55  insertion     NaN    2151          NaN        NaN  1750220-1752370  1761790  1761791
57    SV_57   deletion     806     NaN          NaN        NaN          1758654  1768073  1768879
63    SV_63  insertion     NaN    5449          NaN        NaN  1978859-1984307  1989056  1989057
65    SV_65   deletion     399     NaN          NaN        NaN          1992301  1997053  1997452
66    SV_66   deletion      26     NaN          NaN        NaN          2069394  2074521  2074547
68    SV_68   deletion     123     NaN          NaN        NaN          2083613  2088852  2088975
71    SV_71  insertion     NaN     280          NaN        NaN  2158210-2158489  2163529  2163530
..      ...        ...     ...     ...          ...        ...              ...      ...      ...
119  SV_117   deletion      54     NaN          NaN        NaN          3339263  3378236  3378290
121  SV_119   deletion    2774     NaN          NaN        NaN          3445699  3484740  3487514
123  SV_121  insertion     NaN    1336          NaN        NaN  3459850-3461185  3501664  3501665
125  SV_123  insertion     NaN    1642          NaN        NaN  3488700-3490341  3529180  3529181
127  SV_125   deletion    1355     NaN          NaN        NaN          3512891  3551229  3552584
129  SV_127   deletion    1355     NaN          NaN        NaN          3513016  3552712  3554067
134  SV_132  insertion     NaN    2727          NaN        NaN  3670672-3673398  3711735  3711736
135  SV_133   deletion    2876     NaN          NaN        NaN          3694422  3732759  3735635
138  SV_136   deletion     187     NaN          NaN        NaN          3697150  3739145  3739332
140  SV_138  insertion     NaN      62          NaN        NaN  3698501-3698562  3740707  3740708
143  SV_141   deletion    1355     NaN          NaN        NaN          3753111  3795057  3796412
145  SV_143   deletion      18     NaN          NaN        NaN          3758852  3802156  3802174
147  SV_145  insertion     NaN      36          NaN        NaN  3758953-3758988  3802330  3802331
149  SV_147  insertion     NaN      69          NaN        NaN  3760509-3760577  3803835  3803836
151  SV_149  insertion     NaN      94          NaN        NaN  3777338-3777431  3820588  3820589
153  SV_151   deletion    3694     NaN          NaN        NaN          3799807  3842766  3846460
156  SV_154   deletion    1358     NaN          NaN        NaN          3842886  3890777  3892135
157  SV_155   deletion     711     NaN          NaN        NaN          3847825  3897074  3897785
159  SV_157   deletion      58     NaN          NaN        NaN          3877755  3927719  3927777
162  SV_160   deletion     167     NaN          NaN        NaN          3882139  3932157  3932324
165  SV_163  insertion     NaN     153          NaN        NaN  3882589-3882741  3932773  3932774
168  SV_166   deletion     684     NaN          NaN        NaN          3884988  3935654  3936338
171  SV_169  insertion     NaN      99          NaN        NaN  3892182-3892280  3943177  3943178
172  SV_170   deletion    1234     NaN          NaN        NaN          3896831  3947687  3948921
175  SV_173   deletion     252     NaN          NaN        NaN          3897178  3949291  3949543
177  SV_175   deletion    5893     NaN          NaN        NaN          4004383  4056840  4062733
179  SV_177  insertion     NaN     115          NaN        NaN  4036007-4036121  4094356  4094357
181  SV_179  insertion     NaN      48          NaN        NaN  4097343-4097390  4155581  4155582
185  SV_183   deletion    1166     NaN          NaN        NaN          4131466  4189594  4190760
187  SV_185   deletion    2403     NaN          NaN        NaN          4311799  4371022  4373425

[73 rows x 9 columns]

In [10]:
RD = pd.read_csv('RD2.csv')#, sep='\t')
#print(RD)
RD['Start'] = RD.Start + 21046
RD['Stop'] = RD.Stop + 26845
RD

      Start     Stop RD targets Size (bp)
0    315732   321532       RD10      1902
1    383718   392440     I-RD01      2924
2    794557   800888       RvD6       533
3   1242902  1249417     I-RD02       717
4   1385250  1391050     N-RD18      1548
5   1453698  1459498       RD13      3007
6   1742135  1747935        RD4     12732
7   1795178  1803129       TbD1      2153
8   1803614  1810218       RD17       806
9   1814818  1820618        RD3      9247
10  2013828  2026430       RvD2      6804
11  2027619  2034370       RvD3  953/1352
12  2029344  2035144       RD14      9068
13  2185441  2191791     I-RD03       552
14  2188480  2194906     S-RD04       628
15  2231212  2237012        RD7     12719
16  2231546  2237346        RD2     10787
17  2268420  2279218       RvD1      5000
18  2334772  2340572        RD9      2029
19  2624210  2630010        RD5      8963
20  2624786  2630586      N-RD5      3298
21  2625068  2630868     NN-RD5      2579
22  2851725  2858179     I-RD05       656
23  2955572  2961372       RD11     10982
24  3093679  3104398     S-RD06      4921
25  3311911  3318063     I-RD07       354
26  3460272  3466072       RD12      2775
27  3474422  3481557     I-RD08      1337
28  3502768  3510712     I-RD09      2146
29  3719999  3729879       RvD5      4082
30  3744588  3750388       RD19      3555
31  3850115  3855915        RD6      4926
32  3898329  3904129       RD18       713
33  3934542  3940342       RD20       603
34  3936282  3943232     I-RD10      1152
35  3942831  3948973     I-RD11       344
36  3948766  3955489     S-RD12       925
37  4056800  4062600        RD8      5894
38  4149631  4156113     S-RD13       684
39  4184208  4190008     N-RD25      1166
40  4343760  4349560        RD1      9457
41  4355058  4363261      Rdpan      2505

### find RD regions
* In this function the code iterates over each row of found deletions and checks to see if either the start or end coordinates fall within the coordinates of the known regions of deletion.
* If either the start point of the deletion or the end point of the deletion is within the RD's coordinates, then there must be some overlap between the deletion and the RD

In [11]:
found=[]
for i,r in deletions.iterrows():
    #print (r)
    #print (RD.Start, RD.Stop)
    #df = RD[abs(RD.Start-r.start)<500]
    df = RD[((r.start>RD.Start) & (r.start<RD.Stop)) |
              ((r.end>RD.Start) & (r.end<RD.Stop)) |
              ((r.start<RD.Start) & (r.end>RD.Stop))]
    
    if len(df) > 0:
        #print (df)
        #print (r)
        df['id'] = r.ID
        df['Name'] = r.Name
        found.append(df)
        
found = pd.concat(found)
print (found)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      Start     Stop RD targets Size (bp)      id       Name
17  2268420  2279218       RvD1      5000   SV_79  insertion
19  2624210  2630010        RD5      8963   SV_97   deletion
20  2624786  2630586      N-RD5      3298   SV_97   deletion
21  2625068  2630868     NN-RD5      2579   SV_97   deletion
33  3934542  3940342       RD20       603  SV_166   deletion
34  3936282  3943232     I-RD10      1152  SV_166   deletion
34  3936282  3943232     I-RD10      1152  SV_169  insertion
35  3942831  3948973     I-RD11       344  SV_169  insertion
35  3942831  3948973     I-RD11       344  SV_170   deletion
36  3948766  3955489     S-RD12       925  SV_170   deletion
36  3948766  3955489     S-RD12       925  SV_173   deletion
37  4056800  4062600        RD8      5894  SV_175   deletion
38  4149631  4156113     S-RD13       684  SV_179  insertion
39  4184208  4190008     N-RD25      1166  SV_183   deletion